.berisha-prj {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 85%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #12161d;*/

  background-color: #0d1117;
  opacity: 0.8;
  background-image: radial-gradient(#484b4e 0.5px, #0d1117 0.5px);
  background-size: 10px 10px;

  /* background-color: red; */
  /* for test*/
}

.project-detail {
  height: 15%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.img-logo {
  width: 240px;
  height: 52px;
  background-image: url("../logo.svg");
  background-repeat: no-repeat;
}
.date span,
.name span {
  padding: 0;
}
.description {
  height: 100vh;
  width: 100%;
  padding: 1rem 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 65px;
}

.description p {
  font-size: 40px;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: fit-content;
}

.image-grid .prj-img {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.prj-img:hover {
  transform: scale(1.5);
}
