.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 85%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #12161d;*/

  background-color: #0d1117;
  opacity: 0.8;
  background-image: radial-gradient(#484b4e 0.5px, #0d1117 0.5px);
  background-size: 10px 10px;

  /* background-color: red; */
  /* for test*/
}

.project-detail {
  height: 15%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.img-logo {
  width: 304px;
  height: 128px;
  background-image: url("../berisha-logo.svg");
  background-repeat: no-repeat;
}
.date span,
.name span {
  padding: 0;
}
