.projects-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.big-projects-cards {
  gap: 5rem;
}

.big-project {
  width: 1000px;
  height: 600px;
  background-color: rgba(121, 193, 255, 0.027);

  /* for content inside */
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;
}
.project .project-name {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
}
.big-project .hidden-btn {
  height: 15%;
  /* background: blue; */
}

.img-logo {
  width: 304px;
  height: 128px;
  background-image: url("./berisha-al/berisha-logo.svg");
  background-repeat: no-repeat;
}

.big-project .p2 .img-logo {
  width: 240px;
  height: 52px;

  background-image: url("./intr-portfolio/logo.svg");

  transform: translateY(20px);
}

.big-project:hover .hidden-btn {
  transform: translateY(-50px);
}

@media screen and (max-width: 768px) {
  .big-project {
    width: 100%;
    height: 600px;
  }
}
