body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  height: 20vh;
}

.contact-link {
  text-align: center;
  background: #13181f;
  padding: 2rem 1rem;
  border: 1px solid #202730;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .big-title {
    font-size: 2rem;
    padding-bottom: 50px;
  }
  .contact-links {
    flex-direction: column;
    height: 70vh;
  }
  .contact-link {
    padding: 2.5rem 1.5rem;
  }
}
